@charset "UTF-8";

	.main-content
    {
    	min-height: 650px;
    }
	.content_Cell span
	{
		font-size: 9pt;
	}
	.content_Table
	{
		/* position: absolute; */
		display: table;
		/* width: 100%; */
		border: solid 1px gray;
	}
	.content_Row
	{
		display: table-row;
	}
	.content_Cell
	{
		display: table-cell;
		/* vertical-align: middle; */
   	 	margin: 20%;
   	 	/* text-align: center; */
	}
	.content_TableBody
	{
		display: table-row-group;
	}
	.content_TableHead
	{
		display: table-cell;
		text-align: center;
		font-weight: bold;
	}
	#highlight
	{
		font-size: 10pt;
		font-weight: bold;
		color: blue;
		width: 15%;
	}
	.spanTxt
	{
		font-size: 10pt;
		color: black;
		font-weight: normal;
	}
	.btnTxt
	{
		font-size: 9pt;
	}